body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #0f2027;
  box-shadow: 0 0 15px rgba(58, 56, 56, 0.2);
  border-radius: 5px;
}

.legend {
  background-color: rgba(15, 32, 39, 0.9);
  line-height: 25px;
  color: rgb(228, 238, 226);
  width: auto;
  padding: 10px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
}

.title {
  background-color: rgba(15, 32, 39, 0.9);
  padding: 15px 20px;
  color: rgb(228, 238, 226);
}

.title h2 {
  margin: 0 0 5px 0;
  font-size: 24px;
  font-weight: bold;
}

.title p {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}